.message-item-container {
    display: flex;
    padding: 5px 0px;
}

.user-name {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.message-wrapper {
    margin-left: 5px;
}

.user-name > h3,p {
    margin:0px;
}

.user-name > p {
    margin-left: 5px;
    color:grey;
    font-size: 15px;
}